doctype html
html(lang="en")
  head
    title Boiler
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')

    //- inject:css
    //- endinject
    
    link(rel="stylesheet", href="/css/user.css")
  body(ng-controller="AppCtrl" ng-cloak)
  
    header
      div(ui-view="header")
      
    
    main(ui-view="content" class="the-content")

    footer
      //- inject:js
      //- endinject
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
      script(src='https://www.simplify.com/commerce/v1/simplify.js')
      script(src='/js/user.js')
